<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      
        <link rel="stylesheet" href="https://unpkg.com/@blaze/css@9.2.0/dist/blaze/blaze.css">
    </head>
    <body class="c-text">
        <main class="o-container o-container--xlarge">
            <h1 class="c-heading">Features</h1>
            <table class="c-table">
                <thead class="c-table__head">
                    <tr class="c-table__row c-table__row--heading">
                        <th class="c-table__cell">Name</th>
                        <th class="c-table__cell">Description</th>
                        <th class="c-table__cell">Type</th>
                        <th class="c-table__cell">Settings</th>
                    </tr>
                </thead>
                <tbody class="c-table__body">
                    {{ range .Features -}}
                    <tr class="c-table__row">
                        <td class="c-table__cell">{{ .Name }}</td>
                        <td class="c-table__cell">{{ .Description }}</td>
                        <td class="c-table__cell">{{ featureTypeToString .Type }}</td>
                        <td class="c-table__cell">{{ featureSettings . }}</td>
                    </tr>
                    {{- end }}
                </tbody>
            </table>
        </main>
        <footer>
                <nav class="c-nav c-nav--inline">
                    <span class="c-nav__item">One</span>
                    <span class="c-nav__item">Two</span>
                    <span class="c-nav__item c-nav__item--right">Three</span>
                </nav>
        </footer>
    </body>
</html>
